body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:70px;
  width:1000px;
  height:740px;
  font-family:'SimSun', 'SimSun';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  font-family:'SimSun', 'SimSun';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:10px;
  width:50px;
  height:50px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:81px;
  top:25px;
  width:65px;
  height:18px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:180px;
  top:26px;
  width:29px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:230px;
  top:23px;
  width:10px;
  height:20px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u11 {
  position:absolute;
  left:251px;
  top:26px;
  width:43px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:295px;
  top:32px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:295px;
  top:30px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:310px;
  top:23px;
  width:10px;
  height:20px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u18 {
  position:absolute;
  left:324px;
  top:26px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:390px;
  top:23px;
  width:10px;
  height:20px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u21 {
  position:absolute;
  left:407px;
  top:26px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:470px;
  top:23px;
  width:10px;
  height:20px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u24 {
  position:absolute;
  left:487px;
  top:26px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:550px;
  top:23px;
  width:10px;
  height:20px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u27 {
  position:absolute;
  left:567px;
  top:26px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:406px;
  top:64px;
  width:58px;
  height:5px;
  font-family:'SimSun', 'SimSun';
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:5px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:765px;
  top:28px;
  width:139px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:936px;
  top:27px;
  width:25px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:381px;
  top:32px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:381px;
  top:30px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:913px;
  top:32px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:913px;
  top:30px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:964px;
  top:32px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:964px;
  top:30px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:70px;
  width:200px;
  height:740px;
  font-family:'SimSun', 'SimSun';
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:740px;
}
#u48 {
  position:absolute;
  left:2px;
  top:362px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:31px;
  top:149px;
  width:29px;
  height:26px;
  font-family:'SimSun', 'SimSun';
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:70px;
  top:157px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#95A4B8;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:15px;
  top:185px;
  width:170px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u54 {
  position:absolute;
  left:32px;
  top:206px;
  width:27px;
  height:31px;
  font-family:'SimSun', 'SimSun';
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u55 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:70px;
  top:215px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#32445B;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:15px;
  top:245px;
  width:170px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u59 {
  position:absolute;
  left:903px;
  top:13px;
  width:15px;
  height:15px;
  font-family:'SimSun', 'SimSun';
  font-size:10px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:15px;
  top:125px;
  width:170px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u62 {
  position:absolute;
  left:33px;
  top:92px;
  width:65px;
  height:18px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:16px;
  color:#32445B;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:185px;
  top:149px;
  width:36px;
  height:32px;
  font-family:'SimSun', 'SimSun';
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:200px;
  top:145px;
  width:23px;
  height:40px;
  font-family:'SimSun', 'SimSun';
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:194px;
  top:161px;
  width:6px;
  height:8px;
  font-family:'SimSun', 'SimSun';
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:230px;
  top:130px;
  width:100px;
  height:45px;
  font-family:'SimSun', 'SimSun';
  font-size:14px;
  color:#999999;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u71 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:230px;
  top:169px;
  width:740px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u73 {
  position:absolute;
  left:349px;
  top:130px;
  width:100px;
  height:45px;
  font-family:'SimSun', 'SimSun';
  font-size:14px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:899px;
  top:86px;
  width:71px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:909px;
  top:92px;
  width:16px;
  height:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:934px;
  top:95px;
  width:25px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#000000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:230px;
  top:93px;
  width:65px;
  height:18px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:230px;
  top:194px;
  width:250px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:230px;
  top:229px;
  width:148px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:890px;
  top:223px;
  width:80px;
  height:30px;
  font-family:'SimSun', 'SimSun';
  font-size:12px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:230px;
  top:266px;
  width:157px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:230px;
  top:299px;
  width:115px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:230px;
  top:332px;
  width:61px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:230px;
  top:360px;
  width:740px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u96 {
  position:absolute;
  left:241px;
  top:377px;
  width:161px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#999999;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:12px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:417px;
  top:377px;
  width:161px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#999999;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:12px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:603px;
  top:377px;
  width:161px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#999999;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:12px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:790px;
  top:377px;
  width:85px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:402px;
  top:366px;
  width:10px;
  height:10px;
}
#u104_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u104_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u104_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u105 {
  position:absolute;
  left:587px;
  top:366px;
  width:10px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u105_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u105_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u106 {
  position:absolute;
  left:774px;
  top:366px;
  width:10px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u106_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u106_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u107 {
  position:absolute;
  left:241px;
  top:427px;
  width:161px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:10px;
  color:#199ED7;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:10px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:416px;
  top:416px;
  width:91px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:10px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:12px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:790px;
  top:416px;
  width:104px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:10px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:12px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:603px;
  top:415px;
  width:124px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:10px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:12px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:230px;
  top:395px;
  width:740px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u116 {
  position:absolute;
  left:416px;
  top:438px;
  width:91px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:10px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:12px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:790px;
  top:438px;
  width:104px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:10px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:12px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:603px;
  top:437px;
  width:124px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:10px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:12px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:230px;
  top:459px;
  width:740px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u123 {
  position:absolute;
  left:790px;
  top:484px;
  width:104px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FF6600;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:12px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:760px;
  top:488px;
  width:104px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:10px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:12px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
