body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:70px;
  width:1000px;
  height:730px;
  font-family:'SimSun', 'SimSun';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:730px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  font-family:'SimSun', 'SimSun';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:10px;
  width:50px;
  height:50px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:81px;
  top:25px;
  width:65px;
  height:18px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:180px;
  top:26px;
  width:29px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:230px;
  top:23px;
  width:10px;
  height:20px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u11 {
  position:absolute;
  left:251px;
  top:26px;
  width:43px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:295px;
  top:32px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:295px;
  top:30px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:310px;
  top:23px;
  width:10px;
  height:20px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u18 {
  position:absolute;
  left:324px;
  top:26px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:390px;
  top:23px;
  width:10px;
  height:20px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u21 {
  position:absolute;
  left:407px;
  top:26px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:470px;
  top:23px;
  width:10px;
  height:20px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u24 {
  position:absolute;
  left:487px;
  top:26px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:550px;
  top:23px;
  width:10px;
  height:20px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u27 {
  position:absolute;
  left:567px;
  top:26px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:406px;
  top:64px;
  width:58px;
  height:5px;
  font-family:'SimSun', 'SimSun';
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:5px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:765px;
  top:28px;
  width:139px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:936px;
  top:27px;
  width:25px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:381px;
  top:32px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:381px;
  top:30px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:913px;
  top:32px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:913px;
  top:30px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:964px;
  top:32px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:964px;
  top:30px;
  width:6px;
  height:4px;
  font-family:'SimSun', 'SimSun';
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:70px;
  width:200px;
  height:730px;
  font-family:'SimSun', 'SimSun';
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:730px;
}
#u48 {
  position:absolute;
  left:2px;
  top:357px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:31px;
  top:149px;
  width:29px;
  height:26px;
  font-family:'SimSun', 'SimSun';
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:70px;
  top:157px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#32445B;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:15px;
  top:185px;
  width:170px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u54 {
  position:absolute;
  left:32px;
  top:206px;
  width:27px;
  height:31px;
  font-family:'SimSun', 'SimSun';
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u55 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:70px;
  top:215px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#95A4B8;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:15px;
  top:245px;
  width:170px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u59 {
  position:absolute;
  left:230px;
  top:93px;
  width:65px;
  height:18px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1090px;
  top:149px;
  width:36px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'SimSun', 'SimSun';
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1110px;
  top:161px;
  width:6px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'SimSun', 'SimSun';
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1060px;
  top:70px;
  width:50px;
  height:730px;
  font-family:'SimSun', 'SimSun';
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:730px;
}
#u66 {
  position:absolute;
  left:2px;
  top:357px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1071px;
  top:150px;
  width:29px;
  height:26px;
  font-family:'SimSun', 'SimSun';
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u68 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1060px;
  top:125px;
  width:50px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u70 {
  position:absolute;
  left:1072px;
  top:207px;
  width:27px;
  height:31px;
  font-family:'SimSun', 'SimSun';
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1060px;
  top:185px;
  width:50px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u73 {
  position:absolute;
  left:1060px;
  top:245px;
  width:50px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u74 {
  position:absolute;
  left:1074px;
  top:271px;
  width:22px;
  height:19px;
  font-family:'SimSun', 'SimSun';
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1060px;
  top:305px;
  width:50px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u77 {
  position:absolute;
  left:903px;
  top:13px;
  width:15px;
  height:15px;
  font-family:'SimSun', 'SimSun';
  font-size:10px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:15px;
  top:125px;
  width:170px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u80 {
  position:absolute;
  left:33px;
  top:92px;
  width:65px;
  height:18px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:16px;
  color:#32445B;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:185px;
  top:149px;
  width:36px;
  height:32px;
  font-family:'SimSun', 'SimSun';
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u83 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:200px;
  top:145px;
  width:23px;
  height:40px;
  font-family:'SimSun', 'SimSun';
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:194px;
  top:161px;
  width:6px;
  height:8px;
  font-family:'SimSun', 'SimSun';
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1060px;
  top:70px;
  width:50px;
  height:62px;
  font-family:'SimSun', 'SimSun';
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:62px;
}
#u89 {
  position:absolute;
  left:2px;
  top:23px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1096px;
  top:150px;
  width:14px;
  height:30px;
  font-family:'SimSun', 'SimSun';
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1072px;
  top:85px;
  width:29px;
  height:32px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
  color:#32445B;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:230px;
  top:128px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:230px;
  top:148px;
  width:76px;
  height:5px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:5px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-6px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:302px;
  top:145px;
  width:668px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:651px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:668px;
  height:1px;
}
#u99 {
  position:absolute;
  left:236px;
  top:180px;
  width:125px;
  height:18px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:380px;
  top:174px;
  width:80px;
  height:30px;
  font-family:'SimSun', 'SimSun';
  font-size:12px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:236px;
  top:223px;
  width:61px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:297px;
  top:222px;
  width:18px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u106 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u107 {
  position:absolute;
  left:316px;
  top:223px;
  width:13px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:348px;
  top:222px;
  width:18px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u110 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u111 {
  position:absolute;
  left:367px;
  top:223px;
  width:25px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:236px;
  top:264px;
  width:61px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:297px;
  top:256px;
  width:100px;
  height:30px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:307px;
  top:264px;
  width:73px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:236px;
  top:313px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:297px;
  top:305px;
  width:150px;
  height:30px;
  font-family:'SimSun', 'SimSun';
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:307px;
  top:313px;
  width:69px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:467px;
  top:313px;
  width:169px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#999999;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:14px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:230px;
  top:354px;
  width:57px;
  height:16px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:14px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:230px;
  top:374px;
  width:76px;
  height:5px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:5px;
}
#u130 {
  position:absolute;
  left:2px;
  top:-6px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:302px;
  top:371px;
  width:668px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:651px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:668px;
  height:1px;
}
#u132 {
  position:absolute;
  left:286px;
  top:400px;
  width:237px;
  height:223px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:223px;
}
#u133 {
  position:absolute;
  left:2px;
  top:104px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:344px;
  top:470px;
  width:112px;
  height:70px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:70px;
}
#u135 {
  position:absolute;
  left:2px;
  top:27px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:389px;
  top:477px;
  width:31px;
  height:23px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:20px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:389px;
  top:510px;
  width:31px;
  height:23px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:20px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:305px;
  top:630px;
  width:30px;
  height:20px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:345px;
  top:633px;
  width:19px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:383px;
  top:630px;
  width:30px;
  height:20px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u145 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:423px;
  top:633px;
  width:19px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:461px;
  top:630px;
  width:30px;
  height:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:501px;
  top:633px;
  width:19px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:305px;
  top:669px;
  width:30px;
  height:20px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u153 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:345px;
  top:672px;
  width:13px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:383px;
  top:669px;
  width:30px;
  height:20px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:423px;
  top:672px;
  width:19px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:580px;
  top:406px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:653px;
  top:398px;
  width:220px;
  height:30px;
  font-family:'SimSun', 'SimSun';
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u163 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:663px;
  top:406px;
  width:244px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:14px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:857px;
  top:411px;
  width:6px;
  height:4px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u167 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:857px;
  top:409px;
  width:6px;
  height:4px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u169 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:764px;
  top:448px;
  width:10px;
  height:10px;
}
#u170_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u170_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u170_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u171 {
  position:absolute;
  left:586px;
  top:459px;
  width:161px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#999999;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:12px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:779px;
  top:459px;
  width:161px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#999999;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:12px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:580px;
  top:442px;
  width:390px;
  height:10px;
}
#u175_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u175_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u175_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u176 {
  position:absolute;
  left:581px;
  top:475px;
  width:390px;
  height:10px;
}
#u176_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u176_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u176_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u177 {
  position:absolute;
  left:586px;
  top:495px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#199ED7;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:779px;
  top:495px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:581px;
  top:517px;
  width:390px;
  height:10px;
}
#u181_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u181_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u181_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u182 {
  position:absolute;
  left:581px;
  top:517px;
  width:390px;
  height:10px;
}
#u182_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u182_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u182_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u183 {
  position:absolute;
  left:586px;
  top:537px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#199ED7;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:779px;
  top:537px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:581px;
  top:559px;
  width:390px;
  height:10px;
}
#u187_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u187_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u187_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u188 {
  position:absolute;
  left:581px;
  top:559px;
  width:390px;
  height:10px;
}
#u188_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u189 {
  position:absolute;
  left:586px;
  top:579px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#199ED7;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:779px;
  top:579px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:581px;
  top:601px;
  width:390px;
  height:10px;
}
#u193_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u193_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u193_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u194 {
  position:absolute;
  left:581px;
  top:601px;
  width:390px;
  height:10px;
}
#u194_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u194_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u194_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u195 {
  position:absolute;
  left:586px;
  top:621px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#199ED7;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:779px;
  top:621px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:581px;
  top:643px;
  width:390px;
  height:10px;
}
#u199_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u199_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u199_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u200 {
  position:absolute;
  left:581px;
  top:643px;
  width:390px;
  height:10px;
}
#u200_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u200_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u200_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u201 {
  position:absolute;
  left:586px;
  top:663px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#199ED7;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:787px;
  top:663px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:581px;
  top:685px;
  width:390px;
  height:10px;
}
#u205_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u205_end {
  position:absolute;
  left:373px;
  top:-5px;
  width:18px;
  height:20px;
}
#u205_line {
  position:absolute;
  left:0px;
  top:5px;
  width:390px;
  height:1px;
}
#u206 {
  position:absolute;
  left:912px;
  top:414px;
  width:93px;
  height:14px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:12px;
  color:#199ED7;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
